<h1>Hash_one - Belongs To</h1>
<table class="table mt-5 table-striped ">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">account_Number</th>

    </tr>
  </thead>
  <tbody>
    <% @suppliers.each do |s| %> 
        <tr>
            <td><%= s.id %></td>
            <td><%= s.name %></td>
                <td><%= s.account.account_number if s.account.present? %></td> 
        </tr>
    <% end %>
  </tbody>
</table>